.container {
    display: flex;
    background-color: red;
    align-items: stretch;
  }
  .container div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }